
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

.section-p1{
	padding: 40px 80px;
}

.section-m1{
	margin: 40px 0;
}

button.white{
	font-size: 13px;
	font-weight: 600;
	padding: 11px 18px;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
	border: 1px solid white;
	outline: none;
	transition: 0.2s;
}

button.normal{
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	color: #000;
	background-color: #fff;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
}
body{
	width: 100%;
	font-size: clamp(40px, 8vw, 105px);
}
.free{
    background-color: #ffbd27;
    color: white;
    padding-top: 5px;
    padding-bottom: 1px;
    align-items: center;
}

.free p{
    text-align: center;
    font-weight: 700;
}

.text{
	background-color: black;
	color: gold;
	height: 40px;
	padding-top: 3px;
	font-weight: 20px;
	font-style: italic;
	text-align: center;
	text-transform: uppercase;
}
.text span{
	color: white;
}
.para marquee{
	background-color: #fff;
   text-align: center;
   color: black;
   height: 50px;
   box-shadow: 1px 2px 5px rgb(211, 207, 207);
}
.para p{
    font-size: 16px;
    font-weight: 200;
    font-family: serif;
    padding: 12px 15px;
    text-align: center;
}

#banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 40vh;
	background-color: #fff;
	background-size: cover;
	background-position: center;
    box-shadow: 1px 1px 1px 1px rgb(211, 207, 207);
}

#banner h4{
	color: black;
	font-size: 16px;
}

#banner h2{
	color: black;
	font-size: 30px;
	padding: 10px 0;
}

#banner h2 span{
	color: red;	
}

#banner button:hover{
	background: #ffbd27;;
	color: #fff;
}

.brand .row{
	size: 20px;
}
.brand .row img{
	width: 70%;
	padding-left: 80px;
}
.brand .row .col-sm-3{
   box-shadow: 1px 1px 1px rgb(211, 207, 207);
}

.info{
	padding-top: 30px;
	padding-left: 6px;
	box-shadow: 1px 0px 1px rgb(211, 207, 207);
}

.info h4{
  font-size: 30px;
  font-weight: 150px;
  text-align: center;
}

.info p {
	font-weight: 200px;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#newsletter{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 align-items: center;
 background-image: url('');
 background-position: 20% 30%;
 background-color: #fff;
 box-shadow: 1px 0px 1px rgb(211, 207, 207);
} 

#newsletter h4{
	font-size: 22px;
	font-weight: 700;
	color: #ffbd27;
}

#newsletter p{
	font-size: 14px;
	font-weight: 600;
	color: black;
}

#newsletter p span{
	color: #ffbd27;
}

#newsletter .form{
   display: flex;
   width: 40%;
}

#newsletter input{
	height: 3,125rem;
	padding: 0 1.25em;
	font-size: 14px;
	width: 100%;
	border: 1px solid #ffbd27;
	border-radius: 4px;
	outline: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#newsletter button{
	background-color: #ffbd27;
	color: #fff;
	white-space: nowrap;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#newsletter button:hover{
	color: black;
}
.top button{
	background-color: #ffbd27;
	font-size: 17px;
}

.top button i{
	font-size: 20px;
}

/* FOOTER */
footer {
     background-color: black;
     position: relative;
     width: 100%;
     position: fixed;
     bottom: 0;
     border-top: 1px solid #ffc107;
}

.mini-footer{
      max-width: 1500px;
      margin:auto;
      padding-left: 25px;
      padding-right: 25px;
  }
  
  
  @media (max-height:800px){
    footer { position: static; }
    
  }
  
  .footer-distributed{
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  .footer-distributed .footer-left{
    width: 30%;
  }
  
  .footer-distributed h3{
    color:  white;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  #e0ac1c;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:   white;
    margin: 20px 0 12px;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  
  .footer-distributed .footer-center i{
    background-color:  white;
    color: #ffbd27;
    font-size: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 18px;
    line-height: 38px;
    color:  #ffbd27;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin:0;
    font-size: 16px;
  
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:17px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  #e0ac1c;
    text-decoration: none;;
  }
  
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 30%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffc107;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a img{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    border:1px solid white;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  @media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }
   
  .footer-widget-title {
   line-height:42px;
   margin-bottom:10px;
   font-size:18px
  }
  .mini-footer {
   background: black;
   text-align:center;
   padding:32px 0
  }
  .mini-footer p {
   margin:0;
   line-height:26px;
   font-size:15px;
   color: #ffc107;
  }
  .mini-footer p a {
   color:white;
  }
  
/* cart */  

:root {
    --main-color: #ffbd27;
    --text-color:  #ffbd27;
    --bg-color: #fff;
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
section{
    padding: 4rem 0 3rem;
}
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
#cart-icon{
    font-size: 1.2rem;
    cursor: pointer;
}
.cart{
    position:fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height:100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}
.cart.active{
    right:-0;
}
.cart-title{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 2rem;
    font-style: italic;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1.5rem;
    margin-top:1rem;
}
.cart-img{
    width:100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title{
    font-size: 1.5rem;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background: var(--text-color);
}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.container .header {
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
}

.container .header h2 {
    color: #ffbd27; 
}
.container .header h3 {
    color: #444444;
}
.shop-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 1.5rem;
}
.product-box{
    position: relative;
    overflow: hidden;
    margin-bottom: 26px;
}
.product-box img:hover{
    transform: scale(1.1);
    box-shadow: 1px 0px 1px rgb(211, 207, 207);
}
.product-box:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}
.container:hover .product-box::before {
        transform: scale(1.2,1.2) rotate(5deg);
}

.shop-content .product-box .discount,
.shop-content .product-box .new{
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.shop-content .product-box .discount {
    left: 0;
    background-color: red;
}
.shop-content .product-box .new {
    left: 0;
    background-color: black;
}

.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
.price{
    font-weight: 500;
}

.product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}
.add-cart:hover{
    background: hsl(249, 32%, 17%);
}
@media (max-width: 1080px) {
    .nav {
        padding: 15px;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .shop{
        margin-top: 2rem !important;
    }
}
@media (max-width: 400px) {
    .nav {
        padding: 11px;
    }
    
    .cart{
        width: 320px;
    }
}

@media (max-width: 360px) {
    .shop{
        margin-top: 1rem !important;
    }
    .cart{
        width: 280px;
    }
}